body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container{
  min-height: 100vh;
}
main{
  flex:1; /*space between header and footer*/
}
.products{
  display: flex;
  flex-wrap: wrap; /* new items will be pushed down if no space in row */
  justify-content: center;
}

.product{
  border:1px solid black;
  margin: 1rem;
}

.product img{
  width: 100%;
  max-width: 300px;
}

.product-info{
  padding: 1rem;
}

.rating span{
  color: #ffc000;
}

.btn-primary{
  background-color: #f0c040;
  color: black;
}